* {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url('../img/backgrounds/salmen-bejaoui-uXTozY3CcQg-unsplash.jpg');
    background-size: cover;
    margin: 0px;
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: space-between;
}

.leo_blurb{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.leo_header{
    font-size: 32px;
    margin: 8px;
}

.intro button {
    background-color: rgb(8,46,63);
    width: 200px;
    height: 30px;
    border-radius: 25px;
}

.intro {
    display: flex;
    background-color: rgba(19, 41, 115, 0.9);
    padding: 8px;
    border: solid darkslategray;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
}

.intro img {
    border: 2px solid black;
    box-shadow: 2px 2px 8px -2px lightblue;
}

header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(8, 46, 63, 0.9);
    color: antiquewhite;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.feats{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(106, 70, 4, 0.9);
    gap: 24px;
    padding: 24px;
}

.item {
    width: 260px;
    text-shadow: 1px 1px 2px black;
}

.item img,
.item video,
.item div {
    width: 240px;
    height: 160px;
    object-fit:cover;
    border: solid chocolate 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.header-right {
    display: flex;
    gap: 8px;
    padding: 8px;
}

footer {
    background-color: rgba(8, 46, 63, 0.9);
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}


.leolightdark{
    background: url(../img/leo/lighting_leo_light.webp) no-repeat;
    background-size:cover;

}

.leolightdark:hover {
    background: url(../img/leo/lighting_leo_dark.webp) no-repeat;
    background-size: cover;
    
}

.calltoaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(166, 170, 233,0.5);
    font-size: 24px;
    text-shadow: 2px 2px 2px black;
    text-align: right;
}

.leoquote{
    width: 600px;
}

.leoquotecredit p {
    text-align: right;
}

.calltoaction button {
    background-color: rgb(8,46,63);
    width: 600px;
    height: 40px;
    border-radius: 25px;
    font-size: 24px;
}